@import "tailwindcss";

@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Regular.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Regular.woff")format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Medium.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Medium.woff")format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "Gopher", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.8s ease forwards;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  transition: transform 140ms ease-in-out;
}

.header-inner{
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 3.75vw;
  padding-right: 3.75vw;
  pointer-events: auto;
  transition: padding 140ms ease-in-out;
}

.tweak-fixed-header .header{
  transform: translateY(-100%);
}

.tweak-fixed-header .header-inner {
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}