@import "tailwindcss";

@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Regular.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Regular.woff")format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Medium.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Medium.woff")format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}
html,
body {
  font-family: "Gopher", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

:root {
  --color-primary: #223614;
  --color-secondary: #fbf7f2;
  --color-muted: #e9e4dc;
  --color-accent: #7b7a43;
  --color-accent-soft: #c1beca;
}


@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --color-accent: var(--color-accent);
  --color-accent-soft: var(--color-accent-soft);

  --color-background: var(--color-secondary);
  --color-foreground: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.8s ease forwards;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  transition: transform 140ms ease-in-out;
}

.header-inner{
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 3.75vw;
  padding-right: 3.75vw;
  pointer-events: auto;
  transition: padding 140ms ease-in-out;
}

.tweak-fixed-header .header{
  transform: translateY(-100%);
}

.tweak-fixed-header .header-inner {
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideUp 0.8s ease forwards;
}

/*Typography Scale*/

@layer utilities {
  .heading-xl {
    @apply font-medium text-[clamp(2.75rem,3.5vw,4rem)] leading-[1.15] sm:text-[clamp(2.75rem,3.5vw,4rem)];
  }
  .heading-lg {
    @apply font-medium text-[clamp(2.25rem,4vw,4.1rem)] leading-[1.15] sm:text-[clamp(2.25rem,4vw,4.1rem)];
  }
  .heading-md {
    @apply font-medium text-[clamp(1.75rem,2.5vw,3rem)] leading-[1.15] sm:text-[clamp(1.75rem,2.5vw,3rem)];
  }
  .body-lg {
    @apply text-[1.35rem] leading-[1.7];
  }
  .body-md {
    @apply text-[1.25rem] leading-[1.7];
  }
  .body-sm {
    @apply text-[1.05rem] leading-[1.7];
  }
  .section-padding {
    @apply px-[4vw] sm:px-[3.75vw] lg:px-[2vw] pt-24 pb-32;
  }
  .section-x {
    @apply px-[3.75vw] lg:pl-[2vw] lg:pr-[3.75vw];
  }
  .btn-primary {
    @apply inline-flex items-center justify-center
    border border-primary
    px-8 py-3
    text-sm tracking-wide
    text-primary
    transition-colors duration-500 ease-in-out
    hover:bg-primary hover:text-secondary
    hover:cursor-pointer;
  }
  .btn-light {
    @apply inline-flex items-center justify-center
    border border-secondary
    px-7 py-3
    text-sm tracking-wide
    text-secondary
    transition-colors duration-500 ease-in-out
    hover:bg-secondary hover:text-accent
    hover:cursor-pointer;
  }
}
