@import "tailwindcss";

@font-face {
  font-family: "Otelios";
  src: url("/fonts/Otelios-Regular.otf")format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Otelios";
  src: url("/fonts/Otelios-Semibold.otf")format("truetype");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Regular.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Regular.woff")format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher/Gopher-Medium.woff2")format("woff2"),
      url("/fonts/gopher/Gopher-Medium.woff")format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
  max-width:100%;
  font-family: "Otelios",serif,"Gopher";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

:root {
  --color-primary:#0e1838;
  --color-secondary: #F7F9FC;
  --color-muted:#E6EAF2;
  --color-accent:#2F3E63;
  --color-accent-soft:#d1dde9;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --color-accent: var(--color-accent);
  --color-accent-soft: var(--color-accent-soft);

  --color-background: var(--color-secondary);
  --color-foreground: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F2F7FF;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.8s ease forwards;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  transition: transform 140ms ease-in-out;
}

.header-inner{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: clamp(1rem, 3.75vw, 3rem);
  padding-right: clamp(1rem, 3.75vw, 3rem);
  pointer-events: auto;
  transition: padding 140ms ease-in-out;
}

.tweak-fixed-header .header{
  transform: translateY(-100%);
}

.tweak-fixed-header .header-inner {
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-left{
  transform:translateX(-12px);
  opacity: 0;
  transition: transform 0.6s ease,opacity 0.6s ease;
}
.fade-left.show{
  transform: translateX(0);
  opacity: 1;
}

.animate-slide {
  animation: slideUp 0.8s ease forwards;
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
.animate-fadeIn{
  animation: fadeIn .25s ease;
}

/*Typography Scale*/

@layer utilities {
  .heading-xl {
    @apply font-medium text-[clamp(2.75rem,3.5vw,4rem)] leading-[1.15] sm:text-[clamp(2.75rem,3.5vw,4rem)];
  }
  .heading-lg {
    @apply font-medium text-[clamp(2.25rem,4vw,4.1rem)] leading-[1.15] sm:text-[clamp(2.25rem,4vw,4.1rem)];
  }
  .heading-md {
    @apply font-medium text-[clamp(1.75rem,2.5vw,3rem)] leading-[1.15] sm:text-[clamp(1.75rem,2.5vw,3rem)];
  }
  .body-lg {
    @apply text-[1.2rem] leading-[1.6] lg:text-[1.35rem] lg:leading-[1.7];
  }
  .body-md {
    @apply text-[1.1rem] leading-[1.6] lg:text-[1.25rem] lg:leading-[1.7];
  }
  .body-sm {
    @apply text-[0.95rem] leading-[1.6] lg:text-[1.05rem] lg:leading-[1.7];
  }
  .section-padding {
    @apply px-[4vw] sm:px-[3.75vw] lg:px-[2vw] pt-24 pb-32;
  }
  .section-x {
    @apply px-[2.5vw] sm:px-[2vw] lg:px-[2.5vw];
  }
  .btn-primary {
    @apply inline-flex items-center justify-center
    border border-primary
    px-8 py-3
    text-sm tracking-wide
    text-primary
    transition-colors duration-500 ease-in-out
    hover:bg-primary hover:text-secondary
    hover:cursor-pointer;
  }
  .btn-light {
    @apply inline-flex items-center justify-center
    border border-secondary
    px-7 py-3
    text-sm tracking-wide
    text-secondary
    transition-colors duration-500 ease-in-out
    hover:bg-secondary hover:text-accent
    hover:cursor-pointer;
  }
}